<div class="container py-5">
    <div class="d-flex justify-content-between">
        <div class="pending">
            <p class="fw-bold">Pending</p>
            <table mat-table class="mat-elevation-z8" [dataSource]="pendinOrderList">
                <tr mat-header-row *matHeaderRowDef="pendingColumnNames"></tr>
                <tr mat-row *matRowDef="let row;columns:pendingColumnNames;"></tr>
    
                <ng-container matColumnDef="menuItemName">
                    <th mat-header-cell *matHeaderCellDef>MenuItem Name</th>
                    <td mat-cell *matCellDef="let element">{{element.menuItems}}</td>
                </ng-container>
    
                <ng-container matColumnDef="quantityofOrder">
                    <th mat-header-cell *matHeaderCellDef>Quantity of Order</th>
                    <td mat-cell *matCellDef="let element">{{element.quantityOfOrder}}</td>
                </ng-container>
    
                <ng-container matColumnDef="totalPrice">
                    <th mat-header-cell *matHeaderCellDef>Total Price</th>
                    <td mat-cell *matCellDef="let element">{{element.totalPrice}}</td>
                </ng-container>
    
                <ng-container matColumnDef="orderStatus">
                    <th mat-header-cell *matHeaderCellDef>Order Status</th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.orderStatus === 'Pending' ? 'red' : 'black'}">{{element.orderStatus}}</td>
                </ng-container>
            </table>
        </div>
    
        <div class="approved">
            <p class="fw-bold">Approved</p>
            <table mat-table class="mat-elevation-z8" [dataSource]="approvedOrderList">
                <tr mat-header-row *matHeaderRowDef="approvedColumnNames"></tr>
                <tr mat-row *matRowDef="let row;columns:approvedColumnNames;"></tr>
    
                <ng-container matColumnDef="menuItemName">
                    <th mat-header-cell *matHeaderCellDef>MenuItem Name</th>
                    <td mat-cell *matCellDef="let element">{{element.menuItems}}</td>
                </ng-container>
    
                <ng-container matColumnDef="quantityofOrder">
                    <th mat-header-cell *matHeaderCellDef>Quantity of Order</th>
                    <td mat-cell *matCellDef="let element">{{element.quantityOfOrder}}</td>
                </ng-container>
    
                <ng-container matColumnDef="totalPrice">
                    <th mat-header-cell *matHeaderCellDef>Total Price</th>
                    <td mat-cell *matCellDef="let element">{{element.totalPrice}}</td>
                </ng-container>
    
                <ng-container matColumnDef="orderStatus">
                    <th mat-header-cell *matHeaderCellDef>Order Status</th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.orderStatus === 'Approved' ? 'green' : 'black'}">{{element.orderStatus}}</td>
                </ng-container>
            </table>
        </div>
    </div>
</div>