<div class="container py-5 px-5">
    <mat-card appearance="outlined" >
        <mat-card-content>
            <p class="text-center fw-bold pt-5">Please Login!</p>
            <div class=" d-flex justify-content-center py-4">
                <form [formGroup]="logindetail" (submit)="formsubmit()">
                    <div class="pt-4">
                        <mat-form-field class="input-box-size" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" type="email" matInput placeholder="Enter email address" required>
                            <mat-error *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                                <span *ngIf="email?.hasError('required')">Email is required</span>
                                <span *ngIf="email?.hasError('pattern')">Enter a valid email address</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="py-4">
                        <mat-form-field class="input-box-size" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="userPassword" type="password" matInput  placeholder="Enter your password" required>
                        <mat-error *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                            <span *ngIf="password?.hasError('required')">Password is required</span>
                        </mat-error>
                      </mat-form-field>
                      
                    </div>
                    
                    <div class="login-text-right">
                        <small><a class="text-decoration-none " [routerLink]="['/register-user']">Register Here!</a></small>
                    </div>

                    <div class="text-center py-4">
                        <button mat-raised-button color="primary" type="submit">Login</button>
                    </div>
                   
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>


  
